.fadein-appear {
  opacity: 0.01;
}

.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-between-enter {
  opacity: 0.01;
}

.fade-between-enter.fade-between-enter-active {
  opacity: 1;
}

.fade-between-leave {
  /* hacky disappear for state change */
  visibility: hidden;
  height: 0px;
  width: 0px;
  opacity: 1;
}

.fade-between-leave.fade-between-leave-active {
  opacity: 0;
}
