@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin ul-reset {
  list-style: none;
  padding-left: initial;
  margin-bottom: initial;
}

// This mixin is used by both Highlighter and Quiz tools for font consistency.
@mixin newspaper {
  white-space: pre-wrap;
  line-height: 2.2;
  font-family: $font-newspaper;
}
