// TYPOGRAPHY
$font-newspaper: georgia, 'PT Serif', serif;
$font-ui: 'Avenir Next', 'Montserrat', sans-serif;

// ANIMATIONS
$transition-fast: 0.3s ease;
$transition-slow: 0.6s ease;

// COLORS
$offblack      : #333;
$offwhite      : #ededed;
$red_accent    : #F16061;
$yellow_accent : #FDD484;
$green_accent  : #AFD792;
$blue_accent   : #a8d2bf;
