@import 'styleguide';

@mixin newspaper {
  // text-indent: 20px;
  // Think about em-dashes and more spaces / automatic <p> creation
  white-space: pre-wrap;
  line-height: 1.5;
  font-family: $font-newspaper;
}

body {
  font-size: 16px;
}

.tua {
  .tua__header-text {
    font-size: 2em;
    padding: 10px;
    margin-bottom: 10px;
    font-style: italic;
  }
}

.question-block {
  display: block;
  border-top: .25em solid black;
  border-bottom: .25em solid black;
  .question-block__text {
    font-size: 1em;
    padding: 10px;
    border-bottom: .25em solid black;
    margin: 10px 0;
    font-style: italic;
  }
}

.text-wrapper {
  max-width: 500px;
  margin: 0 auto;
  /* Make selection not span the whole page, just this div */
  position: relative;

  .article {
    @include newspaper;

    /* react makes this not work */
    &[data-topic="1"]::selection {
      background: $red_accent;
    }
    &[data-topic="2"]::selection {
      background: $yellow_accent;
    }
    &[data-topic="3"]::selection {
      background: $green_accent;
    }
    &[data-topic="4"]::selection {
      background: $blue_accent;
    }
  }
}
