.annotator-topics-list {
  font-size: large;
}

.text-thresher-form, .state-element {
  font-size: 16px;
}

.annotator-widget {
  min-width: 314px;
}

#next-question  {
  // background-image: url('');
}

.annotator-widget {
  bottom: inherit;
  margin-top: 11px;
  // left: 0;
}

.annotator-widget::after {
  height: 0;
}

#text-thresher-form {
  height: 100%;
  width: 100%;
}