.tmp
/vendor/bower_components/
/node_modules/
/dist/

/pbs-highlighter/bundle.js
/pbs-quiz/bundle.js

testem.*.json
tests.tap
.DS_Store

# emacs artifacts
*~
*#

# vim artifacts
*.swp

# intellij artifacts
.idea/
*.iml

# python artifacts
*.pyc
.Python
/bin/
/include/
/lib/
pip-selfcheck.json
__pycache__/
/thresher/bin/

# django artifacts
staticfiles
_postgres_data

# gunicorn artifacts
*.log

# npm artifacts
npm-debug.log.*
