.tmp
vendor/bower_components
node_modules
testem.*.json
tests.tap

# emacs artifacts
*~
*#

# vim artifacts
*.swp

# intellij artifacts
.idea/
*.iml

# python artifacts
*.pyc
.Python
/bin/
/include/
/lib/
pip-selfcheck.json
__pycache__/

# django artifacts
staticfiles
_postgres_data

# gunicorn artifacts
*.log
