.survey-unit {
  position: relative;
  // top: 0;
  right: 0;

  .survey-unit__topic {
    font-size: 1.2em;

    .survey-unit__question {
      font-weight: bold;
      font-size: .75em;

      .survey-unit__answer {
        font-weight: normal;
        list-style-type: none;
      }
    }
  }
}
