$font-newspaper: georgia, 'PT Serif', serif;
$font-ui: 'Avenir Next', 'Montserrat', sans-serif;
$transition-fast: 0.3s ease;
$offblack      : #333;
$offwhite      : #ededed;
$red_accent    : #F16061;
$yellow_accent : #FDD484;
$green_accent  : #AFD792;
$blue_accent   : #a8d2bf;

$topic-picker-nav-width: 25%;


@mixin newspaper {
  // text-indent: 20px;
  // Think about em-dashes and more spaces / automatic <p> creation
  white-space: pre-wrap;
  line-height: 1.5;
  font-family: $font-newspaper;
}
@mixin ul-reset {
  list-style: none;
  padding-left: initial;
  margin-bottom: initial;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

.text-wrapper {
  max-width: 500px;
  margin: 0 auto;
  /* Make selection not span the whole page, just this div */
  position: relative;

  &__text {
    @include newspaper;

    /* the annotation plugin changes manually the color and
       structure of the page so this doesn't work */
    &[data-topic="1"]::selection {
      background: $red_accent;
    }
    &[data-topic="2"]::selection {
      background: $yellow_accent;
    }
    &[data-topic="3"]::selection {
      background: $green_accent;
    }
    &[data-topic="4"]::selection {
      background: $blue_accent;
    }
  }
}

.topic-picker {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10px;

  background-color: $offblack;
  overflow: hidden;

  transition: background $transition-fast,
              height $transition-fast;

  &__nav {
    @include ul-reset;
    $height: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    height: $height;
    line-height: $height;
    transition: color $transition-fast,
                width $transition-fast;

    li {
      float: left;
      width: 100%;
      height: inherit;
      line-height: inherit;

      background-color: $offblack;
      transition: background-color $transition-fast;

      font-family: $font-ui;
      font-size: 1.1em;
      letter-spacing: 2px;
      text-align: center;
      color: $offblack;
      text-transform: uppercase;
    }
  }

  &:hover, &--open {
    height: 300px;
    background-color: $offwhite;

    .topic-picker__wrapper {
      opacity: 1;
    }

    .topic-picker__nav {
      width: $topic-picker-nav-width;
      b {
        opacity: 1;
      }
    }
  }

  &__nav {
    li {
      color: #fff;
      b {
        opacity: 0;
      }
    }

    li:nth-child(1) {
      &:hover, &.active {
        background-color: $red_accent;
      }
    }
    li:nth-child(2) {
      &:hover, &.active {
        background-color: $yellow_accent;
      }
    }
    li:nth-child(3) {
      &:hover, &.active {
        background-color: $green_accent;
      }
    }
    li:nth-child(4) {
      &:hover, &.active {
        background-color: $blue_accent;
      }
    }
  }

  &--left {
    width: 10px;
    height: 100%;

    transition: background $transition-fast,
                width $transition-fast;

    .topic-picker__nav {
      height: 100%;
      li {
        float: initial;
        height: 25%;
        display: block;
        margin-left: auto;

        b {
          @include vertical-align();
          display: block;
        }
      }
    }

    &:hover {
      width: 300px;
      background-color: $offwhite;
      height: 100%;
    }
  }

  /* hacky */
  &--open {
    width: 300px;
    background-color: $offwhite;
    height: 100%;
  }


  &__pin-button {
    margin: 10px;
    text-align: right;
  }

  &__wrapper {
    opacity: 0;
    padding-right: $topic-picker-nav-width;
  }
}

.topic-wrapper {
  &__topic {
    padding: 5px 10px;
    line-height: 1.5;
  }
}

.variable-list {
  background: #fff;
  padding: 5px 10px;
  margin-top: 15px;

  ul {
    @include ul-reset;
    padding-left: 13px;
  }

  &__collapsible {
    &:before {
      display: inline-block;
      width: 8px;
      height: 8px;
      margin-right: 5px;
      background:
        linear-gradient(to bottom,
                        transparent 35%,
                        $offblack 35%,
                        $offblack 65%,
                        transparent 65%);
      content: '';
    }

    &--closed {
      &:before {
        background:
        linear-gradient(to bottom,
                        transparent 35%,
                        $offblack 35%,
                        $offblack 65%,
                        transparent 65%),
        linear-gradient(to right,
                        transparent 35%,
                        $offblack 35%,
                        $offblack 65%,
                        transparent 65%);
      }
    }
  }
}
