@import 'app/styles/_mixins.scss';
@import 'app/styles/_variables.scss';

.article {
  @include newspaper;
  transition: opacity $transition-slow;
  margin-bottom: 80px;
  line-height: 2.2;

  &.is-fetching {
    border: 2px dotted black; //TODO: REMOVE THESE TEMP STYLES
    opacity: 0.5;
  }

  .article__header-text {
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #article-container {
    padding: 1em;
    border: 1px solid black;
  }

}
