@import 'app/styles/_mixins.scss';
@import 'app/styles/_variables.scss';

$topic-picker-nav-width: 25%;

.topic-picker {
  width: 250px;
  background-color: $offblack;
  overflow: hidden;
  transition: background $transition-fast;

  .topic-picker__header {
    background-color: $offwhite;
    padding: 1em;
    max-height: 200px;
  }

  ul.topic-picker__nav {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
    li {
      color: $offwhite;
      padding: 1em 2em;
      font-family: $font-ui;
      font-size: 1.1em;
      background-color: $offblack;
      letter-spacing: 2px;
      text-align: center;
      text-transform: uppercase;
      list-style: none;
      cursor: pointer;
    }
  }
}

.instructions {
  position: fixed;
  bottom: 0;
  left: $topic-picker-fixed-width;
  right: 0px;
  padding: 1em;
  font-size: 0.9em;
  background-color: rgb(76,69,69);
  color: white;
  border: 5px 0 0 0;
}
