{% extends parent_template|default:"researcher/base.html" %}
{% block title %} Add tasks to a TextThresher Project {% endblock %}
{% block content %}
  <div class="content-container">
    <h1 class="main-label">
      Add tasks to a TextThresher Project
    </h1>

    <div class="main-container">
      <form
        action="{% url 'researcher:add_project_tasks' project.id %}"
        method="post">
        <div class="page-description">
          <div class="description-text">
            Add tasks to {{ project.name }}
            <br>
            task type {{ project.task_type }}
            <br>
            on server: {{ project.pybossa_url }}
          </div>
        </div>

        <div class="form-container">
          {{ form.as_p }}
        </div>

        {% csrf_token %}
        <button type="submit" class="submit">
          Add Tasks
        </button>
      </form>
    </div>
  </div>
{% endblock %}
