{% extends parent_template|default:"researcher/base.html" %}
{% load static %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
  <div class="article-viewer-container">
    <h1 class="main-label">
      {{ page_title }}
    </h1>

    <div class="article-viewer-content">
      <div id="react-root">
        Loading...
      </div>
    </div>
    {% if debug_presenter %}
      <div class="debug-info">
        Loading javascript from {{ articleview_debug_js }}<br>
        Use ?debugPresenter=true&amp;debugHost=url to set a different host.
      </div>
      <script type="text/javascript" src="{{ articleview_debug_js }}">
      </script>
    {% else %}
      <script type="text/javascript" src="{% static articleview_static_js %}">
      </script>
    {% endif %}
    <script type="text/javascript">
      thresher.articleView.loadArticle("{{ url_to_fetch_articles }}");
    </script>
  </div>
{% endblock %}
