{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}This is my new project home page{% endblock title %} &mdash; TextThresher</title>

    <link rel="icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />
    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
  </head>
  <body>
    
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block content %}
    <div class="hero-unit">
      <h1>'Allo, 'Allo!</h1>
      <p>You now have</p>
      <ul>
        <li>HTML5 Boilerplate</li>
        <li>Sass</li>
        <li>Modernizr</li>
      </ul>
    </div>
    {% endblock content %}

  </body>
</html>
