{% load static %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}This is my new project home page{% endblock title %} &mdash; TextThresher</title>

    <link rel="icon" href="/static/favicon.ico">
    <link rel="apple-touch-icon" href="/static/apple-touch-icon.png">

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'researcher/researcher_base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
  </head>
  <body>
    
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Header -->
    <div class="header">
      <div class="branding">
        <a href="{% url 'researcher:index' %}">
          <h1 class="brand-label">
            Researcher Tools
          </h1>
        </a>

      </div>
      <div class="user-tools">
        {% if user.is_anonymous %}
          <div class="login">
            <p>
              <a href="{% url 'admin:login' %}?next={{ request.get_full_path|urlencode }}" class="login-text">
                Login
              </a>
            </p>
          </div>
        {% endif %}
        {% if user.is_authenticated %}
          <div class="username">
            <p>
              WELCOME:
              <strong>
                <a href="{% url 'admin:thresher_userprofile_change' user.userprofile.id %}"
                class="actual-name ">
                {{ user.username }}
                </a>
              </strong>
            </p>
          </div>
          <div class="logout">
            <p>
              /
              <a href="{% url 'admin:logout' %}?next={{ request.get_full_path|urlencode }}" class="logout-text">
                Logout
              </a>
            </p>
          </div>
        {% endif %}
      </div>
    </div>
    <!-- End Header -->

    {% block content %}
    <div class="hero-unit">
      <h1>'Allo, 'Allo!</h1>
      <p>You now have</p>
      <ul>
        <li>HTML5 Boilerplate</li>
        <li>Sass</li>
        <li>Modernizr</li>
      </ul>
    </div>
    {% endblock content %}

  </body>
</html>

<style type="text/css">

</style>
