{% extends parent_template|default:"researcher/base.html" %}
{% block title %} Researcher Tools {% endblock %}
{% block content %}
  <div class="content-container">

    <h1 class="main-label">Researcher Home</h1>


    <div class="main-container">

      <!-- First section -->
      <div class="general-container">
        <div class="section-label-container">
          <p class="section-label">GENERAL TOOLS</p>
        </div>
        <ul class="item-container">
          <li class="item">
            <a href="{% url 'researcher:upload_schema' %}">
              Upload Schema File
            </a>
          </li>
          <li class="item">
            <a href="{% url 'researcher:upload_articles' %}">
              Upload Articles
            </a>
          </li>
          <li class="item">
            <a href="{% url 'researcher:nlp_articles' %}">
              Add NLP hints to articles
            </a>
          </li>
          <li class="item">
            <a href="{% url 'researcher:create_project' %}">
              Create Project
            </a>
          </li>
        </ul>
        
        <!-- <p></p>
        <p></p> -->
      </div>
      <!-- End first section -->

      <!-- Second section -->
      <div class="projects-container">
        <div class="section-label-container">
          <p class="section-label">PROJECTS</p>
        </div>
          {% for project in projects %}
            <div class="project">
              <p>
                {{ project.name }}
              <ul class="item-container">
                <li class="item">
                  <a href="{{ project.get_local_edit_URL }}">
                    Update Project
                  </a>
                </li>
                <li class="item">
                  <a href="{{ project.get_add_tasks_URL }}">
                    Add Tasks to Project
                  </a>
                </li>
                <li class="item">
                  <a href="{{ project.get_remote_URL }}" target="_blank">
                    View Remote
                  </a>
                </li>
                <li class="item">
                  <a href="{{ project.get_local_task_retrieval_URL }}">
                    Retrieve Task Runs
                  </a>
                </li>
                <li class="item">
                  <a href="{{ project.get_local_remote_delete_URL }}">
                    Delete Remote
                  </a>
                </li>
              </ul>
            </div>
          {% empty %}
          <div class="nothing-label">
            No remote projects currently being managed by us.
          </div>
          {% endfor %}
      </div>
      <!-- End second section -->
    </div>

    <!-- Right section -->
    <div class="right-section-container">
      <div class="right-section-label">
        RELATED ACTIONS

      </div>
      <div class="line-delimiter"></div>
      {% if user.is_authenticated %}
        <div class="right-section-item">
          <a href="{% url 'admin:index' %}">
            <strong> - Thresher Admin </strong>
          </a>
        </div>
        <div class="right-section-item">
          <a href="{% url 'rq_home' %}">
            <strong> - Check Queue </strong>
          </a>
        </div>
      {% endif %}
    </div>
    <!-- End right section -->
      
      <!-- <p></p>
      <p></p> -->
  </div>

{% endblock %}
