div.display-help {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button.close-help-top {
  float: right;
}

button.close-help-bottom {
}

.project-title {
  font-weight: bold;
}

.project-description {
  font-style: italic;
}

.help-contents {
}
