extends layout

block content
  hr
  .container
    .row
      .col-sm-12
        h3 Text for Analysis:
    .row
      .col-sm-12.panel.article-text

  .container
    .row
      .col-sm-12
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                    | Topics and Questions
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  table.table.table-striped.table-bordered.table-topics
                    thead
                      tr.topic-names
                    tbody.topic-questions