extends layout

block content
  hr
  .container
    .row
      .col-sm-12
        h3 Text for Analysis:
    .row
      .col-sm-12.panel.article-text
    .row
      .col-sm-12
        button.btn.btn-default.show-all-text Show all text
        hr
    .row
      .col-sm-12
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                    .row
                      .col-sm-6
                        | Topics and Questions
                      .col-sm-6.show-hide-topics-message
                        em click to hide/show
              #collapseOne.panel-collapse.collapse.in
                .panel-body
                  table.table.table-striped.table-bordered.table-topics
                    thead
                      tr.topic-names
                    tbody.topic-questions
    .row.hide
      .col-sm-12
        .all-the-text
        .start
        .stop
