extends /layouts/_default

block content
  //- section
  //-   p this is powered by the jade template engine and served via node.js
  //-   p until now this is what you got. Only jQuery is included via bower. No other fancy js and css frameworks.
  //-   p but you can add them very easily. Just update your bower file and run <code>bower install</code>

  //- section
  //-   p All jade files are supposed to be located under app/jade/. All .jade files with an _underscore are treated as partials and not rendered directly. Everything else is a jade file that is supposed to be a page.
  //-   p And this is how i thought about the directory structure of the jade directory

  //-   pre.
  //-     jade
  //-     |-- index.jade
  //-     |-- layouts
  //-     |   |-- _default.jade
  //-     |-- page1
  //-     |  |-- index.jade
  //-     |       |-- partials
  //-     |           |-- _partial.jade
  //-     + - page2
  //-        |-- index.jade
  //-             |-- partials
  //-                 |-- _partial.jade
  .row
    .small-6.columns
      | more!!
    .small-6.columns
      | more!!