extends layout

block content
  hr
  .row
    .small-12.columns
      h3 Text for Analysis:
  .row
    .small-12.columns.panel.article-text

  hr

  .row
    .small-12.columns
      dl.accordion(data-accordion='data-accordion')
        dd.accordion-navigation
            a(href='#panel1') Topics and Questions
              em  (click to hide)
            #panel1.content.active
              table
                thead
                  tr.topic-names
                  tbody.topic-questions

