doctype html
html(lang="en")
  head
    title text thresher
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/annotator.min.css', rel='stylesheet')
    link(href='/bower_components/bootstrap/dist/css/bootstrap.css', rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
          // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') Deciding Force
        //
           Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Link
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
          form.navbar-form.navbar-left(role='search')
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#') Link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Dropdown
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
        //
           /.navbar-collapse
      //
         /.container-fluid


    //- header
    //- nav.top-bar(data-topbar='data-topbar')
    //-   ul.title-area
    //-       li.name
    //-         h1
    //-           a(href='#') Deciding Force
    //-       li.toggle-topbar.menu-icon
    //-         a(href='#')
    //-           span Instructions
    //-     section.top-bar-section
    //-       ul.right
    //-         li
    //-           a(href='#') Right Button Active
    //-         li.has-dropdown
    //-           a(href='#') Glossary
    //-           ul.dropdown
    //-             li
    //-               a(href='#') First link in dropdown
    //-       ul.left
    //-         li
    //-           a(href='#') Left Nav Button

      //- h4 Text Thresher
    block content
    footer

    // build:js /scripts/main.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/foundation/js/vendor/modernizr.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/bower_components/annotator/annotator-full.min.js')


    // script(src='/scripts/rc-annotator-plugin.js')
    script(src='/scripts/questionTree-annotator-plugin.js')
    script(src='/scripts/main.js')
    script(src='/scripts/init.js')
    script
      // $(document).foundation();
    // endbuild