doctype html
html(lang="en")
  head
    title txt_thrshr
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/annotator.min.css', rel='stylesheet')
    link(href='/styles/bootstrap.min.css', rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    nav.navbar.navbar-default(role='navigation')
      .container-fluid
          // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') txt_thrshr
        //
           Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Glossary
                span.caret
              ul.dropdown-menu.glossary-menu(role='menu')
                li
                  table.table.table-striped
                    thead
                        tr
                          th Word
                          th Definition
                    tbody.table-glossary


    block content
    footer

    // build:js /scripts/main.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/foundation/js/vendor/modernizr.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/bower_components/annotator/annotator-full.min.js')


    // script(src='/scripts/rc-annotator-plugin.js')
    script(src='/scripts/questionTree-annotator-plugin.js')
    script(src='/scripts/init.js')
    script(src='/scripts/main.js')
    script
      // $(document).foundation();
    // endbuild