doctype html
html(lang="en")
  head
    title text thresher
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/annotator.min.css', rel='stylesheet')
    link(href='/bower_components/foundation/css/foundation.css', rel='stylesheet')
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)
    //- header
    nav.top-bar(data-topbar='data-topbar')
      ul.title-area
          li.name
            h1
              a(href='#') Deciding Force
          li.toggle-topbar.menu-icon
            a(href='#')
              span Instructions
        section.top-bar-section
          ul.right
            li
              a(href='#') Right Button Active
            li.has-dropdown
              a(href='#') Glossary
              ul.dropdown
                li
                  a(href='#') First link in dropdown
          ul.left
            li
              a(href='#') Left Nav Button

      //- h4 Text Thresher
    block content
    footer

    // build:js /scripts/main.js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/foundation/js/vendor/modernizr.js')
    script(src='/bower_components/foundation/js/foundation.js')
    script(src='/bower_components/annotator/annotator-full.min.js')
    script(src='/bower_components/tinymce/tinymce.min.js')

    script(src='/scripts/rc-annotator-plugin.js')
    script(src='/scripts/questionTree-annotator-plugin.js')
    script(src='/scripts/main.js')
    script(src='/scripts/init.js')
    script
      $(document).foundation();
    // endbuild