div.thank-you {
  padding-top: 100px;
  padding-bottom: 100px;
  left: auto;
  right: auto;
  width: 80%;
  text-align: center;
  font-size: 40px;
}

span.project-title {
  font-weight: bold;
}

div.thank-you-suggestion {
  font-size: 25px;
}
