@import 'app/styles/_variables.scss';
@import 'app/styles/_mixins.scss';

$space-under-header: 20px;
$space-above-footer: 20px;
$article-min-height: 350px;
$article-max-height: 550px;
$left-col-width: 500px;
$highlighter-help-text-height: 30px;

.project-title {
  margin-top: 0px;
}

.quiz {
  // Create stacking context for setting child quiz-highlighter to fixed
  position: relative;
  width: 90%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: $space-under-header;
  padding-bottom: $space-above-footer;
  min-height: $article-min-height;

  &__next {
    margin-top: 20px;
    float: right;
    font-family: $font-ui;
    font-weight: bold;
    color: $offblack;

    &[disabled] {
      color: $offwhite;
    }
  }

  &__question {
    .quiz__context {
      font-size: 14pt;
      span {
        color: #CCC;
      }

      .highlighted {
        color: #333;
        font-style: italic;
      }
    }
  }
}

// Need this wrapper for introJS to annotate. Layout breaks if
// introJS tries to annotate an element with position: fixed
.quiz-introjs {
  float: left;
  width: $left-col-width;
  height: $article-max-height - $space-above-footer;
}

.quiz-highlighter {
  width: $left-col-width;
  min-height: $article-min-height;
  max-height: $article-max-height;
  padding-bottom: $space-above-footer;
  height: 100%;

  .highlighter-help-text {
    height: $highlighter-help-text-height;
  }

  .article-click-box {
    @include newspaper;
    min-height: $article-min-height;
    max-height: $article-max-height -
                $highlighter-help-text-height -
                $space-above-footer;
    height: 100%;
    overflow: auto;
    border: 1px solid black;
    padding: 1em;
  }
}

// onScroll starting style for highlighter is fixed to viewport
.highlights-fixed {
  position: fixed;
  top: $pybossa-header-height + $space-under-header;
  bottom: auto;
}

// onScroll style for when footer needs to push article up
.highlights-absolute {
  position: absolute;
  top: auto;
  bottom: 0px;
}

.quiz-questions {
  margin-left: $left-col-width;
  padding-left: 30px;
}
