@import 'app/styles/_variables.scss';

.quiz {
  // In case we need to position child highlighter_container 'absolute' on scroll
  position: relative;
  width: 90%;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 700px;

  &__next {
    margin-top: 20px;
    float: right;
    font-family: $font-ui;
    font-weight: bold;
    color: $offblack;

    &[disabled] {
      color: $offwhite;
    }
  }

  &__question {
    .quiz__context {
      font-size: 14pt;
      span {
        color: #CCC;
      }

      .highlighted {
        color: #333;
        font-style: italic;
      }
    }

  }
}

.quizHighlighter {
  line-height: 2.2
}

.prompt {
  position: relative;
  opacity: 0;
  //top: 50px;
  left: 30%;
  margin-top: 25px;
  text-align: center;
  transition: opacity 1s ease;
  &.active {
    opacity: 1;
  }

}
