@import 'app/styles/_variables.scss';
@import 'app/styles/_mixins.scss';

.topic-highlighter-wrapper {
  position: relative;
  // TopicInstructions will be positioned absolute inside this padding.
  padding-bottom: 100px;
}

// Classname used to find the topic-picker by handleScroll
.topic-picker-wrapper {
}

.topic-picker-fixed {
  position: fixed;
  top: $pybossa-header-height;
  bottom: auto;
}

.topic-picker-absolute {
  position: absolute;
  top: auto;
  bottom: 0px;
}

.highlighter-tool {
  transition: opacity $transition-slow;
  margin-top: 20px;
  margin-left: 275px;
  margin-right: 1em;

  .article-click-box {
    @include newspaper;
    padding: 1em;
    border: 1px solid silver;
  }

  button.restart-introjs {
    float: right;
    margin-bottom: 6px;
  }

  button.show-help {
    float: right;
    clear: right;
  }

  button.save-and-next {
    margin: 2em;
  }
}
