@import 'app/styles/_variables.scss';
@import 'app/styles/_mixins.scss';

.topic-highlighter-wrapper {
  position: relative;
  // TopicInstructions will be positioned absolute inside this padding.
  padding-bottom: 100px;
}

// Classname used to find the topic-picker by handleScroll
.topic-picker-wrapper {
}

.topic-picker-fixed {
  position: fixed;
  top: $pybossa-header-height;
  bottom: auto;
}

.topic-picker-absolute {
  position: absolute;
  top: auto;
  bottom: 0px;
}

.highlighter-tool {
  @include newspaper;
  transition: opacity $transition-slow;
  margin-left: 275px;
  margin-right: 1em;

  .article-click-box {
    padding: 1em;
    border: 1px solid black;
  }

  button {
    margin: 2em;
  }
}
