@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin ul-reset {
  list-style: none;
  padding-left: initial;
  margin-bottom: initial;
}

@mixin newspaper {
  // text-indent: 20px;
  // Think about em-dashes and more spaces / automatic <p> creation
  white-space: pre-wrap;
  line-height: 1.5;
  font-family: $font-newspaper;
}
